@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?rj111a');
  src:  url('fonts/icomoon.eot?rj111a#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rj111a') format('truetype'),
    url('fonts/icomoon.woff?rj111a') format('woff'),
    url('fonts/icomoon.svg?rj111a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iphone:before {
  content: "\e90a";
}
.icon-touch:before {
  content: "\e90a";
}
.icon-phone:before {
  content: "\e90a";
}
.icon-mobile:before {
  content: "\e90a";
}
.icon-search:before {
  content: "\e911";
}
.icon-monitor:before {
  content: "\e912";
}
.icon-headphones:before {
  content: "\e90b";
}
.icon-display:before {
  content: "\e956";
}
.icon-lab:before {
  content: "\e9aa";
}
.icon-download3:before {
  content: "\e9c7";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-tab:before {
  content: "\ea45";
}
.icon-shuffle:before {
  content: "\e90c";
}
.icon-paperplane:before {
  content: "\e900";
}
.icon-call:before {
  content: "\e913";
}
.icon-comment:before {
  content: "\e914";
}
.icon-contact_phone:before {
  content: "\e915";
}
.icon-access_time:before {
  content: "\e916";
}
.icon-attach_money:before {
  content: "\e917";
}
.icon-cloud:before {
  content: "\e90d";
}
.icon-cloud_download:before {
  content: "\e90e";
}
.icon-computer:before {
  content: "\e903";
}
.icon-security:before {
  content: "\e904";
}
.icon-local_grocery_store:before {
  content: "\e918";
}
.icon-arrow_forward:before {
  content: "\e905";
}
.icon-phone_in_talk:before {
  content: "\e906";
}
.icon-school:before {
  content: "\e907";
}
.icon-star:before {
  content: "\e908";
}
.icon-help:before {
  content: "\e919";
}
.icon-https:before {
  content: "\e91a";
}
.icon-trending_up:before {
  content: "\e91b";
}
.icon-speed:before {
  content: "\e91c";
}
.icon-facebook:before {
  content: "\e90f";
}
.icon-hard-drive:before {
  content: "\e91d";
}
.icon-mouse:before {
  content: "\e901";
}
.icon-bar-graph:before {
  content: "\e909";
}
.icon-ticket:before {
  content: "\e91e";
}
.icon-magnifying-glass:before {
  content: "\e902";
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-folder-open:before {
  content: "\f07c";
}
.icon-cogs:before {
  content: "\f085";
}
.icon-gears:before {
  content: "\f085";
}
.icon-linkedin-square:before {
  content: "\f08c";
}
.icon-bullhorn:before {
  content: "\f0a1";
}
.icon-briefcase:before {
  content: "\f0b1";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-users:before {
  content: "\f0c0";
}
.icon-clipboard:before {
  content: "\f0ea";
}
.icon-paste:before {
  content: "\f0ea";
}
.icon-code:before {
  content: "\f121";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-handshake-o:before {
  content: "\f2b5";
}
.icon-x:before {
  content: "\e910";
}
