// ICON CODES
$icon-code-arrow: "\e905";

// MENU ICON CODES
$icon-code-laptop: "\e903";
$icon-code-display: "\e956";
$icon-code-bars: "\e909";
$icon-code-phone: "\e906";
$icon-code-code: "\f121";
$icon-code-shield: "\e904";
$icon-code-mortar: "\e907";

// BUTTON ICON CODES
$icon-code-contact: "\e900";
$icon-code-support: "\e901";
$icon-code-search: "\e902";

// BUTTON SOCIAL ICONS
$icon-code-facebook: "\e90f";
$icon-code-linkedin: "\f08c";
$icon-code-twitter: "\e910";
$icon-code-instagram: "\f16d";

// SUBMENU ICON CODES
$submenu-icons: (
    "sof1": "\f085",
    "sof2": "\f0b1",
    "sof3": "\e90c",
    "sof4": "\e90a",
    "sof5": "\f07c",
    "sof6": "\ea45",
    "sof7": "\e9c7",
    "sof8": "\f0c0",
    "sof9": $icon-code-laptop,
    "sof10": "\e90d",
    "sof11": "\e90e",
    "sof12": "\e9ca",
    "sof13": "\f2b5",

    "sup1": "\e90b",
    "sup2": "\f0b1",
    "sup3": $icon-code-laptop,
    "sup4": "\e907",
    "sup5": "\e90d",
    "sup6": "\e91d", 
    
    "mar1": "\e911",
    "mar2": "\e917",
    "mar3": "\e91b",
    "mar4": "\f003",
    "mar5": "\f0c0",
    "mar6": "\f040",

    "ser1": "\e91e",
    "ser2": "\e913",
    "ser3": "\e915",
    "ser4": "\e91c",
    "ser5": "\f2b5",
    "ser6": "\e906",

    "des1": "\f040",
    "des2": "\e918",
    "des3": "\e912",
    "des4": "\f0a1",
    "des5": "\e90a",
    "des6": "\e90d",

    "sec1": "\f0ea",
    "sec2": "\e916",
    "sec3": "\e9aa",
    "sec4": "\e907",
    "sec5": "\e904",
    "sec6": "\e91a",

    "cou1": $icon-code-laptop,
    "cou2": $icon-code-code,
    "cou3": "\e919",
    "cou4": "\f2b5"
);