// ICON CODES
$icon-code-arrow: "\ea3c";
$icon-code-home: "\e900";

// MENU ICON CODES
$icon-code-laptop: "\e903";
$icon-code-display: "\e956";
$icon-code-bars: "\e901";
$icon-code-phone: "\e942";
$icon-code-code: "\ea80";
$icon-code-shield: "\e905";
$icon-code-mortar: "\e904";

// SUBMENU ICON CODES
$submenu-icons: (
    "sof1": "\e995",
    "sof2": "\e9ae",
    "sof3": "\ea30",
    "sof4": "\e958",
    "sof5": "\e930",
    "sof6": "\ea45",
    "sof7": "\e95e",
    "sof8": "\e972",
    "sof9": $icon-code-laptop,
    "sof10": "\e9c1",
    "sof11": "\e9c2",
    "sof12": "\e9ca",
    "sof13": "\e902",

    "sup1": "\e910",
    "sup2": "\e9ae",
    "sup3": $icon-code-laptop,
    "sup4": "\e904",
    "sup5": "\e9c1",
    "sup6": "\e963", 
    
    "mar1": "\e986",
    "mar2": "\e93f",
    "mar3": "\e99b",
    "mar4": "\e945",
    "mar5": "\e972",
    "mar6": "\e90a",

    "ser1": "\e939",
    "ser2": "\e942",
    "ser3": "\e942",
    "ser4": "\e9a6",
    "ser5": "\e902",
    "ser6": "\e958",

    "des1": "\e90a",
    "des2": "\e93a",
    "des3": $icon-code-display,
    "des4": "\e91a",
    "des5": "\e958",
    "des6": "\e9c1",

    "sec1": "\e92d",
    "sec2": "\e94e",
    "sec3": "\e9aa",
    "sec4": "\e904",
    "sec5": "\e905",
    "sec6": "\e98f",

    "cou1": $icon-code-laptop,
    "cou2": $icon-code-code,
    "cou3": "\e941",
    "cou4": "\e902"
);