// Include reusable mixins here

@mixin buttonstyles($background-colour: $colour-primary-dark, $has-arrow: false) {
    text-transform: uppercase;
    width: fit-content;
    height: 62px;
    color: $white;
    background-color: $background-colour;
    transition: 0.15s ease-in-out;
    border: none;
    border-radius: 3px;
    margin: 5px;
    padding: 5px 20px;
    padding-bottom: 5px;
    white-space: nowrap;
    cursor: pointer;
    &:hover {
        background-color: darken($background-colour, 10%);
        transition: 0.15s ease-in-out;
    }
    @if $has-arrow {
        padding-bottom: 11px;
        &::after {
            position: relative;
            top: 3px;
            margin-left: 6px;
            font-family: icomoon;
            font-size: 24px;
            font-weight: 600;
            content: $icon-code-arrow;
        }
    }
}

@mixin buttoniconstyles() {
    display: grid;
    place-items: center;
    justify-content: center;
    font-size: 36px;
    text-decoration: none;
}

@mixin nav-item-colors($color) {

    &::after {
        border-top-color: $color;
    }

    &:hover {
        background-color: $color;
        &::before {
            color: $white;
        }
    }
    
    &::before {
        color: $color;
    }
    .submenu-banner {
        background-color: darken($color, 10%);
    }
    
}

@mixin hoverColourChange($colour) {
    background-color: $colour;
    h3, p, .content-item__icon {
        color: $white;
        transition: 0.4s ease-in-out;
    }
    .content-item__icon {
        background-color: $white;
        width: 65px;
        height: 65px;
        color: $colour;
        border-radius: 100%;
        transition: 0.4s ease-in-out;
    }
    button {
        color: $colour;
        background-color: $white;
        transition: 0.4s ease-in-out;
    }
    transition: 0.4s ease-in-out;
}

@mixin colournewsarticle($colour) {
    button {
        @include buttonstyles($colour);
        height: 48px;
        font-size: 17px;
        margin: 0;
    }
    .content-news-article_image p {
        background-color: $colour;
    }
    h3 {
        color: $colour;
    }
}