// Include reusable mixins here

@mixin buttonstyles($background-colour: $colour-primary-dark, $has-arrow: null) {
    text-transform: uppercase;
    width: fit-content;
    height: 62px;
    color: $white;
    background-color: $background-colour;
    border: none;
    border-radius: 3px;
    margin: 5px;
    padding: 5px 20px;
    white-space: nowrap;
    cursor: pointer;
    &:hover {
        background-color: darken($background-colour, 10%);
        transition: 0.15s ease-in-out;
    }
    &::after {
        @if $has-arrow {
            margin-left: 10px;
            content: $icon-code-arrow;
        }
    }
}

@mixin buttoniconstyles() {
    display: grid;
    place-items: center;
    justify-content: center;
    font-size: 36px;
    text-decoration: none;
}

@mixin nav-item-colors($color) {
    &:hover {
        transition: 0.14s ease-in-out;
        background-color: $color;
        &::before {
            color: $white;
        }    
    }
    
    &::before {
        color: $color;
        transition: 0.14s ease-in-out;
    }
    .submenu-banner {
        background-color: darken($color, 10%);
        transition: 0.14s ease-in-out;
    }
}

@mixin hoverColourChange($colour) {
    background-color: $colour;
    h3, p, .content-item__icon {
        color: $white;
        transition: 0.4s ease-in-out;
    }
    .content-item__icon {
        background-color: $white;
        width: 65px;
        height: 65px;
        color: $colour;
        border-radius: 100%;
        transition: 0.4s ease-in-out;
    }
    button {
        color: $colour;
        background-color: $white;
        transition: 0.4s ease-in-out;
    }
    transition: 0.4s ease-in-out;
}