// GLOBAL VARIABLES USED BY THE WHOLE PROJECT

// MEDIA/SCREEN SIZE
$screen-small: 50px;
$screen-medium: 768px; //Mobile
$screen-large: 1260px;

// COLOURS
$color-primary: #323544;
$colour-primary-dark: #212330;
$color-sidebar: #333645;
$color-accent: rgb(146, 111, 177);