// GLOBAL VARIABLES USED BY THE WHOLE PROJECT

// MEDIA/SCREEN SIZE
$screen-small: 50px;
$screen-medium: 768px; //Mobile
$screen-large: 500px;

// COLOURS
$color-secondary: #323544;
$colour-secondary-dark: #212330;