footer {
    background-color: $color-primary;
    color: $white;
    position: relative;
    
    // All images in the footer will get inverted and brightened
    img {
        filter: brightness(0) invert(1);
        display: block;
    }

    h1 {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 16px;
        text-align: left;
        margin-bottom: 20px;
    }

    ul {
        font-size: 13px;
        line-height: 1.4rem;
        list-style: none;
        text-align: left;
        padding: 0;
        font-weight: 400;
        :hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

#footer-logo {
    width: 20rem;
    height: auto;
    margin-bottom: 15px;
    margin-top: 20px;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    gap: 1rem;
}

.footer-links--follow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
        font-size: 20px;
    }

    .footer-links--follow-buttons {
        display: flex;
        flex-wrap: wrap;
        margin-left: -5px;
        align-items: space-between;
    }

    a {
        @include buttonstyles($colour-primary-dark);
        @include buttoniconstyles;
        display: flex;
        width: 72px;
        height: 64px;
    }

    .follow-button {
        transition: 0.15s ease-in-out;
        font-size: 32px;
    }
    .footer-icon {
        filter: brightness(0) invert(1);
    }

    #follow-fb { &:hover{background-color: $colour-social-fb} }
    #follow-li { &:hover{background-color: $colour-social-li} }
    #follow-tw { &:hover{background-color: $colour-social-tw} }
}

.footer-links--section {
    padding-top: 32.5px;
    padding-bottom: 32.5px;
    image {
        width: 100%;
        height: auto;
    }
}

.footer-copyright {
    background-color: $colour-primary-dark;
    #follow-ig { &:hover{background-color: $colour-social-ig} }
    width: 100%;
    padding: 1px;
    padding-top: 3px;
    text-align: left;
    font-size: 13px;    
    letter-spacing: 0.03rem;
    a {
        color: $white;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

@media (max-width: $screen-large) {

    #footer-logo {
        padding-top: 20px;
    }
    .footer-links {
        gap: 0;
    }
    .footer-links--section {
        padding: 0px;
        padding-bottom: 15px;
        min-width: 20%;
        &.footer-links--firstsection {
            min-width: 100%;
        }
    }
}

@media (max-width: $screen-medium) {
    .footer-links--section{
        max-width: calc(50% - 4px);
    }

    .footer-links--section {
        min-width: 45%;
    }
}
