// Handles the grid layout of elements.

// Use a combination of flexbox and grid

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 8.5rem 1fr auto;
    grid-template-areas: 
    "header sidebar"
    "main sidebar"
    "footer sidebar";
}

header {
    grid-area: header;
    height: 3rem;
    top: 0;
    left: 0;
    right: 0;
}

main {
    grid-area: main;
}


aside {
    grid-area: sidebar;

    right: -100%;
    height: 100dvh;
    width: min(15em, 100%);
    z-index: 10;

    overflow: auto;
    text-wrap: wrap;
    background-color: #333645;

    position: fixed;
    right: -16em;
    transition: right 500ms ease-in-out;
}

.showSidebar {
    right: 0;
}

footer {
    grid-area: footer;
}