// @import "./../../assets/iconmoon/style.css";

header {
    position: sticky;
    padding-bottom: 209px;
    box-shadow: 0 5px 25px rgba($color-button-grey, 0.2);

    z-index: 10;

    background-color: $white;
    a { 
        color: inherit; 
    }

    ul {
        list-style: none;
    }
}

// Top part with logo
.main-heading {
    display: flex;
    height: 110px;

    .container {
        justify-content: space-between;
        gap: 20px;
        display: flex;
        align-items: center;
    }

    // Header icon styles
    .nav-icon {
        @include buttoniconstyles;
        font-size: 24px;
        color: $white;
    }

    #header-logo {
        height: auto;
        width: 370px;
        margin: 10px 62px 10px 0;
    }

    button, #button-search {
        @include buttonstyles($color-button-grey);
        margin: 0;
        height: 56px;
        flex-grow: 1;
    }
    #button-support {
        @include buttonstyles($color-button-support);
        margin: 0;
        font-size: 18px;
        &::before {
            content: "\e941";
        }
    }
    #button-contact {
        @include buttonstyles($color-button-grey);
        margin: 0;
        font-size: 18px;
        &::before {
            content: "\e945";
        }
    }

    #searchbox {
        width: 215px;
        padding-left: 10px;
        flex-grow: 2;
        height: 56px;
        transition: 0.25s;
        border: 1px solid #cccccc;
        &::placeholder {
            position: relative;
            font-size: 15px;
            opacity: 0.75;
            top: -1px;
            left: 5px;
        }
        &:focus {
            transition: 0.25s;
            outline: 0;
            border-color: $colour-input-glow-border;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px $colour-input-glow-colour;
        }
    }
    // Submit button styling
    .submit-styles {
        position: relative;
        display: inline-block;

        #button-search {
            margin-left: -20px;
            border-radius: 0 3px 3px 0;
            width: 64px;
        }
        .nav-icon {
            // Overlay icon on top of the button
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
        }
    }

    #button-nav {
        @include buttonstyles(rgba($colour-primary-dark, 0.95));
        width: 50px;
        height: 56px;
        margin: 0;
        font-size: 32px;

        display: flex;
        justify-content: center;
        align-items: center;
        
        .nav-icon {
            display: block;
            margin: auto 0;
        }
    } 


    // Apply these styles after the buttons for DRY
    #button-support, #button-contact {
        height: 56px;
        width: 130px;
        &::before {
            font-family: icomoon;
            padding-right: 6px;
        }
    }
    #button-support {
        &::before {
            content: "\e941";
        }
    }
    #button-contact {
        &::before {
            content: "\e945";
        }
    }
}

// Mobile nav bar
.main-searchbar-mobile {
    display: none;
    margin-top: -10px;

    #searchbox {
        width: 100%;
        height: 48px;
        margin-left: 15px;
        margin-right: -15px;

        border: 2px solid lighten($color-button-grey, 20%);
        border-radius: 3px 0px 0px 3px;
        box-shadow: inset 50px 100px lighten($color-button-grey, 30%);
        padding-left: 10px;
        &::placeholder {
            position: relative;
            font-size: 15px;
            opacity: 0.75;
            top: -1px;
            left: 5px;
        }
    }
    // Submit button styling
    .submit-styles {
        position: relative;
        display: inline-block;
        margin-right: 30px;
        #button-search {
            position: absolute;
            background-color: rgba(0, 0, 0, 0);
            border: 0;
            width: 50px;
            height: 50px;
            left: -35px;
        }
        .nav-icon {
            // Overlay icon on top of the button
            @include buttoniconstyles();
            color: $black;
            font-size: 22px;
            position: absolute;
            left: -32px;
            top: 24px;
            transform: translateY(-50%);

            padding: 12px;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

// Navigation buttons
.main-nav {
    height: 99px;
    background-color: $color-primary;
    color: $white;

    .main-nav-list {
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;
    }

    .nav-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 1rem 1rem 1rem;
        width: 1rem;
        height: 100%;
        flex-grow: 1;
        justify-content: space-around;

        // Nav item text
        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: left;
            text-decoration: none;
            font-size: 18px;
            letter-spacing: 0.025rem;
            margin-bottom: 1px;

            text-wrap: nowrap;

            small {
                font-size: 10px;
                display: block;
                line-height: 10px;
                letter-spacing: 0.02rem;
            }
        }

        // Submenu popup
        &:hover {
            &:after {
                display: block;
            }
            .submenu-banner {
                display: block;
                opacity: 1;
                visibility: visible;
            }
        }
        // Popup submenu
        .submenu-banner {
            display: none;
            position: absolute;

            top: 209px;
            left: 0;
            right: auto;

            width: 100%;
            height: auto;
            padding: 35px 0 35px 0;

            // Banner titles
            h2 {
                width: 100%;
                margin-top: 15px;
                margin-left: 100px;
                font-size: 32px;
                font-weight: 600;
                margin-bottom: 12px;
            }


            .submenu-content {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 1.75rem;
                max-width: $screen-large;
                margin: auto;
                justify-items: start;

                li {
                    display: inline-flex; 
                    align-items: center;
                    gap: 10px;
                    font-size: 24px;

                    a {
                        font-size: 20px;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
    
                    @each $id, $icon in $submenu-icons {
                        &##{$id}::before {
                            @include navsubmenuicons($icon);
                        }
                    }
                }
            }
            
        }
        
        // Nav colours and icons
        &::before {
            font-family: icomoon;
            font-size: 23px;
            line-height: 1.5rem;
            margin-top: 3px;
            margin-bottom: 9px;
        }
        &#sof { @include nav-item-colors($colour-sof); }
        &#sup { @include nav-item-colors($colour-sup); }
        &#mar { @include nav-item-colors($colour-mar); }
        &#ser { @include nav-item-colors($colour-ser); }
        &#des { @include nav-item-colors($colour-des); }
        &#sec { @include nav-item-colors($colour-sec); }
        &#cou { @include nav-item-colors($colour-dev); }

        &#sof::before { content: $icon-code-laptop; }
        &#sup::before { content: $icon-code-display; }
        &#mar::before { content: $icon-code-bars; }
        &#ser::before { content: $icon-code-phone; }
        &#des::before { content: $icon-code-code; }
        &#sec::before { content: $icon-code-shield; }
        &#cou::before { content: $icon-code-mortar; }

        // Setup arrow
        &:after {
            content: "";
            display: none;
            position: relative;
            left: 60%;
            bottom: -15px;
            transform: translateX(-50%);
            text-align: center;
            border-left: 84px solid transparent;
            border-right: 84px solid transparent;
            border-top: 35px solid #00000036;
        }
    }
}

@media (max-width: $screen-large){
    .main-heading {
        .container {
            justify-content: space-between;
        }
        #searchbox {
            display: none;
        }
        .submit-styles {
            #button-search {
                margin-left: 0;
                border-radius: 3px;
            }
            .nav-icon {
                left: 20px;
            }
        }
        #button-nav {
            max-width: 56px;
        }
    }

    .main-nav {
        padding-bottom: 115px;
        .nav-item {
            height: 115px;

            &::after {
                left: 65%;
                bottom: -34px;
                border-left-width: 67px;
                border-right-width: 67px;
            }
            a {
                text-wrap: wrap;
                text-align: center;
                line-height: 18px;
            }
            .submenu-banner {
                top: 225px;
            }
        }

    }

}

@media (max-width: $screen-medium) {
    header{
        padding-bottom: 110px;
        .main-heading {
            .container {
                justify-content: center;
            }
            #header-logo {
                margin: 10px 33px 10px 0;
                width: 350px;
            }
            #button-support,
            #button-contact {
                display: none;
            }
            #searchbox {
                display: flex;
                width: 170px;
                margin-right: -20px;
            }
            #button-nav {
                width: auto;
            }
            .submit-styles {
                #button-search {
                    border-radius: 0 3px 3px 0;
                }
            }

        }
        .main-nav {
            display: none;
        }
    }
}

@media (max-width: $screen-small) {
    header {
        padding-bottom: 170px;
        .main-heading {
            .container {
                gap: 5px;
                justify-content: space-between;
                width: 100%;
            }
            button {
                max-width: 56px;
                margin: 0 auto;
            }
            #header-logo {
                margin: 10px 0 10px 0;
                width: 300px;
            }
            #button-contact {
                display: flex;
                width: auto;
                font-size: 0;
                
                position: absolute;
                right: 3.5rem;
                margin-right: 30px;

                &::before {
                    position: relative;
                    font-size: 28px;
                    align-content: center;
                    text-align: center;
                    left: -6px;
                }
            }
            #button-search, #searchbox,
            .nav-icon {
                display: none;
            }
        }

        .main-searchbar-mobile {
            display: flex;
            #searchbox,
            #button-search {
                display: flex;
            }
        }
    }
}

@media (max-width: $screen-mobile) {
    header {
        .main-heading { 
            #header-logo {
                width: 74%;
            }
            #button-nav {
                width: auto;
            }
        }
    }
}
