@import "/assets/iconmoon/style.css";

header {
    position: relative;
    margin-bottom: 150px;

    a { 
        color: inherit; 
    }

    ul {
        list-style: none;
    }
}

// Top part with logo
.main-heading {
    display: flex;
    height: 110px;

    .container {
        justify-content: space-between;
        display: flex;
        align-items: center;
    }

    // Header icon styles
    .nav-icon {
        @include buttoniconstyles;
        font-size: 28px;
        color: $white;
    }

    #header-logo {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 1em;
    }

    button, #button-search {
        @include buttonstyles($color-button-grey);
        height: 56px;
        flex-grow: 1;
    }
    #button-support {
        @include buttonstyles($color-button-support);
        &::before {
            content: $icon-code-home;
        }
    }
    #button-contact {
        @include buttonstyles($color-button-grey);
        padding-right: 120px;
        &::before {
            content: $icon-code-home;
        }
    }

    #searchbox {
        width: 200px;
        flex-grow: 2;
        height: 56px;
        border: 2px solid $color-button-grey;
        border-radius: 3px 0px 0px 3px;
    }
    // Submit button styling
    .submit-styles {
        position: relative;
        display: inline-block;

        #button-search {
            margin-left: 0;
            border-radius: 0 3px 3px 0;
            width: 64px;
        }
        .nav-icon {
            // Overlay icon on top of the button
            position: absolute;
            left: 16px;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
        }
    }

    #button-nav {
        background-color: $colour-primary-dark;
        width: 32px;
        text-align: center;
    }

    // Apply these styles after the buttons for DRY
    #button-support, #button-contact {
        height: 56px;
        width: 128px;        
        &::before {
            font-family: icomoon;
            content: $icon-code-home;
            padding-right: 12px;
        }
    }

}

// Navigation buttons
.main-nav {
    height: 100px;
    background-color: $color-primary;
    color: $white;

    .main-nav-list {
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;
    }

    .nav-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        flex-grow: 1;

        transition: 0.14s ease-in-out;


        // Submenu popup
        &:hover {
            .submenu-banner {
            display: block;
            opacity: 1;
            visibility: visible;
            }
        }

        // Nav item text
        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: left;
            text-decoration: none;

            small {
                font-size: xx-small;
                display: block;
            }
        }

        // Popup submenu
        .submenu-banner {
            display: none;
            position: absolute;

            top: 210px;
            left: 0;
            right: auto;

            width: 100%;
            padding: 2rem;
            
            .submenu-content {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 1rem;
                max-width: $screen-large;
                margin: auto;
                justify-items: start;
                li {
                    padding: 0.5rem;
                    break-inside: avoid;
                    
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            
        }
        
        // Nav colours and icons
        &::before {
            font-family: icomoon;
            font-size: 1rem;
            margin-bottom: 0.25rem;
        }
        &#sof { @include nav-item-colors($colour-sof); }
        &#sup { @include nav-item-colors($colour-sup); }
        &#mar { @include nav-item-colors($colour-mar); }
        &#ser { @include nav-item-colors($colour-ser); }
        &#des { @include nav-item-colors($colour-des); }
        &#sec { @include nav-item-colors($colour-sec); }
        &#cou { @include nav-item-colors($colour-dev); }

        &#sof::before { content: "\e900"; }
        &#sup::before { content: "\e901"; }
        &#mar::before { content: "\e900"; }
        &#ser::before { content: "\e900"; }
        &#des::before { content: "\e900"; }
        &#sec::before { content: "\e900"; }
        &#cou::before { content: "\e900"; }

    }
}

@media (max-width: $screen-large){
    #searchbox {
        display: none;
    }
}

@media (max-width: $screen-medium) {
    header{
        margin-bottom: 50px;
        // SHOW MOVIBLE SEARCH BAR
        #button-support,
        #button-contact {
            display: none;
        }
        #button-nav {
            
        }
        #searchbox {
            width: auto;
        }
    
        .main-heading{
            margin: 0;
        }
        .main-nav {
            display: none;
        }
    }
}

@media (max-width: $screen-small) {
    header {
        #searchbox,
        #button-search {
            display: none;
        }
    }
}
