// OPTIONAL, changes based on mobile layout and moves things on overflow

aside {
    width: $sidebar-width;
    background-color: $colour-primary-light;
    z-index: 20;
    top: 0;

    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    button, input[type="submit"] {
        @include buttonstyles($colour-primary-light);
        height: 40px;
        width: 110%;
        margin-top: 0;
        margin-bottom: 0;
        border: 1px solid $color-button-border;
    }
    ul {
        width: 110%;
        padding: 0;
        margin: 0;
        background-color: $colour-primary-dark;
        transition: 0.15s ease-in-out;

        font-size: 14px;

        list-style: none;
        text-align: left;
        text-transform: uppercase;

        border-radius: 5px;
        li {
            cursor: pointer;
            padding: 10px;
            height: auto;
            line-height: 22px;
            border-radius: 5px;
            border-top: 1px solid $color-button-border;
            a {
                color: $white;
                text-decoration: none;
                &::before {
                    content: "\BB";
                    font-size: 22px;
                    margin-right: 10px;
                }
            }

            &:hover {
                transition: 0.15s ease-in-out;
                background-color: lighten($colour-primary-dark, 1);
            }
        }

    }
    #button-contact {
        font-size: 18px;
        text-transform: uppercase;
        min-height: 50px;
    }
    #button-toggle {
        @include buttoniconstyles;
        font-size: 24px;
        min-height: 40px;
    }


    //menu items
    .nav-item {
        cursor: pointer;
        width: 110%;
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
    
        padding-top: 1.1em;
        padding-bottom: 1em;

        border: 1px solid $color-button-border;
        border-radius: 3px;
    
        // Nav item text
        a {
            margin-left: 13px;
            color: $white;
            flex-direction: column;
            align-items: center;
            text-align: left;
            text-decoration: none;
            font-size: 16px;
            letter-spacing: 0.02rem;
            text-transform: uppercase;
        }
        // Nav colours and icons
        &::before {
            font-family: icomoon;
            font-size: 23px;
            line-height: 30px;
            margin-left: 13px;
            margin-top: -2px;
        }
        &#sof { @include nav-item-colors($colour-sof); }
        &#sup { @include nav-item-colors($colour-sup); }
        &#mar { @include nav-item-colors($colour-mar); }
        &#ser { @include nav-item-colors($colour-ser); }
        &#des { @include nav-item-colors($colour-des); }
        &#sec { @include nav-item-colors($colour-sec); }
        &#cou { @include nav-item-colors($colour-dev); }
    
        &#sof::before { content: $icon-code-laptop; }
        &#sup::before { content: $icon-code-display; }
        &#mar::before { content: $icon-code-bars; }
        &#ser::before { content: $icon-code-phone; }
        &#des::before { content: $icon-code-code; }
        &#sec::before { content: $icon-code-shield; }
        &#cou::before { content: $icon-code-mortar; }
    }


    
    @media (min-width: $screen-medium) {
        #button-contact {
            display: none;
        }
    }
}

