// Banner
.banner-roulette {
    width: 100%;
    height: 550px;

    display: flex;
    flex-direction: column;
    align-items: center;

    // Background stuff here for now, should be in .active-banner
    background-position: center center; 
    background-repeat: no-repeat;
    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 25%, rgb(0, 0, 0)),
    url("https://www.netmatters.co.uk/assets/images/thumbnails/full_height_slideshow/home-YLei.webp");    
}

.banner-item-content {
    display: flex;
    flex-direction: column;

    color: $white;
    
    h1, h2 {
        font-weight: 600;
    }
    h1 {
        margin-top: 1.5em;
        width: 80%;
        font-size: 3rem;
        line-height: 3.5rem;
    }
    h2 {
        width: 75%;
        font-size: 1.3rem;
        line-height: 2rem;
    }

    @media (max-width: $screen-large){
        align-items: center;
        margin-top: 3em;

        h1, h2 {
            width: 100%;
            text-align: center;
        }
        h1 {
            font-size: 2rem;
            line-height: 1.25em;
        }
        h2 {
            margin-top: -0.5em;
            font-size: 1rem;
            line-height: 1.5em;
            padding-left: 2em;
            padding-right: 2em;
        }
        button {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

// Set the banner's specific stuff here
.active-banner {
    button {
        @include buttonstyles($color-accent);
        margin-top: 1rem;
        margin-bottom: 2rem;
        margin-left: 0;
        &::after {
            content: " ➙";
        }
    }
}

// Banner switching dots
.banner-dots {
    position: absolute;
    top: 675px;
    align-items: flex-end;
    display: flex;
    font-size: large;
    text-align: center;

    @media (max-width: $screen-medium){
        top: 575px;
    }
}

.banner-dot {
    width: 1em;
    height: 1em;
    color: $color-dot-inactive;
    margin-left: 10px;
    
    color: $color-dot-inactive;
    transition: color 0.1s ease;

    &::before {
        transition: all 0.1s ease;
        content: "●";
    }
    &:hover{
        color: $color-dot-hover;
        cursor: pointer;
    }
}
.active-dot {
    color: $color-dot-active;
    &::before {
        content: "◉";
    }
    &:hover{
        color: $color-dot-active;
        cursor: pointer;
    }
}

