// Banner
#banner {
    width: 100%;
    height: 550px;
}

.banner-item {
    background-position: center center; 
    background-size: cover;
}

.banner-item-content {
    width: 100%;
    height: 550px;
    color: $white;

    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }    
    h1, h2 {
        font-weight: 600;
    }
    h1 {
        margin-top: 1.5em;
        width: 80%;
        font-size: 3.1rem;
        line-height: 3.5rem;
    }
    h2 {
        width: 75%;
        font-size: 1.3rem;
        line-height: 2rem;
        margin-top: -1rem;
    }
    .banner-item-button {
        &::after {
            content: " ➙";
        }
    }

    @media (max-width: $screen-large){
        h1 {
            margin-top: 3rem;
        }
    }
    @media (max-width: $screen-medium){
        .container {
            align-items: center;
        }
        h1, h2 {
            width: 100%;
            text-align: center;
        }
        h1 {
            margin-top: 6.5rem;
            font-size: 2rem;
            line-height: 1.25em;
        }
        h2 {
            margin-top: -0.5em;
            font-size: 1rem;
            line-height: 1.5em;
            padding-left: 2em;
            padding-right: 2em;
        }
    }
}

// Set the banner's specific stuff here
.active-banner {
    // Background
    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 25%, rgb(0, 0, 0)),
    url("https://www.netmatters.co.uk/assets/images/thumbnails/full_height_slideshow/home-YLei.webp");  
        
    .banner-item-button {
        @include buttonstyles($color-accent);
        margin-left: 0;
    }
}

// Banner switching dots
.banner-dots {
    position: absolute;
    top: 685px;
    left: 50%;
    transform: translateX(-50%);
    
    display: flex;
    justify-content: center;
    gap: 7px;
    
    font-size: larger;
    text-align: center;

    @media (max-width: $screen-medium){
        top: 590px;
    }
}

.banner-dot {
    width: 1em;
    height: 1em;
    color: $color-dot-inactive;
    transition: color 0.1s ease;

    &::before {
        transition: all 0.1s ease;
        content: "●";
    }
    &:hover{
        color: $color-dot-hover;
        cursor: pointer;
    }
}
.active-dot {
    color: $color-dot-active;
    &::before {
        content: "◉";
    }
    &:hover{
        color: $color-dot-active;
        cursor: pointer;
    }
}

