// background colour, theme switcher, page styles ect.
* {
    box-sizing: border-box;
}


.section-heading {
    display: grid;
    grid-template-columns: 1fr auto;

    h1, h2 {
        margin: 0;
    }
}

.has-main-margin {
    margin-left: 5em;
    margin-right: 5em;
}

// Banner
.banner-roulette {
    width: 100dvw;
    height: 60dvh;

}

.banner-item-content {

    color: white;
    h1, h2, p, button {
        margin-left: 15rem;
        @media (max-width:$screen-large){
            width: 100%;
            margin-left: 5rem;
        }
        @media (max-width:$screen-medium){
            margin-left: 1rem;
            font-size: 1rem;
        }
        
        height: 100%;
    }
    h1, h2 {
        width: 60%;
        text-wrap: wrap;
    }
    h1 {
        font-size: 3rem;
    }
    button {
        @include buttonstyles;
        &::after {
            content: " ➙";
        }
    }

}

// Set the banner's specific stuff here
.active-banner {
    height: inherit;
    width: inherit;

    display: flex;
    align-items: center;


    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 25%, rgb(0, 0, 0)),
    url("https://www.netmatters.co.uk/assets/images/thumbnails/full_height_slideshow/home-YLei.webp");    


    button {
        background-color: $color-accent;
    }
}

// Services
.content-items {
    display: flex;
    flex-wrap: wrap;

    button {
        @include buttonstyles;
        background-color: wheat;
    }
}

.major {
    flex-grow: 2;
}
.minor {
    flex-grow: 1;
}