// background colour, theme switcher, page styles ect.
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.cookie-button {
    z-index: 10;
    position: fixed;
    bottom: 0;
    left: 0;

    height: 23px;
    width: 133px;

    border-radius: 0 10px 0 0;
    background-color: darken($color-button-grey, 17%);
    
    p {
        position: relative;
        top: -8px;
        padding-left: 10px;
        color: $white;
        font-size: 13px;
        font-weight: 600;
    }
    &:hover {
        background-color: $color-button-grey;
        cursor: pointer;
    }
}