// background colour, theme switcher, page styles ect.
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


.section-heading {
    display: grid;
    grid-template-columns: 1fr auto;

    h1, h2 {
        margin: 0;
    }
}