// Banner
.banner-roulette {
    width: 100%;
    height: 550px;

    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    // Background stuff here for now, should be in .active-banner
    background-position: center center;    
    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 25%, rgb(0, 0, 0)),
    url("https://www.netmatters.co.uk/assets/images/thumbnails/full_height_slideshow/home-YLei.webp");    
}

.banner-item-content {
    color: white;

    h1, h2 {
        font-weight: 600;
    }
    h1 {
        width: 80%;
        font-size: 3rem;
        line-height: 3.5rem;
    }
    h2 {
        width: 75%;
        font-size: 1.3rem;
        line-height: 2rem;
    }
    button {
        @include buttonstyles;
        &::after {
            content: " ➙";
        }
    }

}

// Set the banner's specific stuff here
.active-banner {
    button {
        background-color: $color-accent;
    }
}

.banner-dots {
    display: flex;
    font-size: large;
}

.banner-dot {
    margin: 7px;
    color: $color-dot-inactive;
    &::before {
        content: "●";
    }
    &:hover{
        color: $color-dot-hover;
        cursor: pointer;
    }
}
.active-dot {
    margin: 7px;
    color: $color-dot-active;
    &::before {
        content: "◉";
    }
    &:hover{
        color: $color-dot-active;
        cursor: pointer;
    }
}

// Services
.content-items {
    display: flex;
    flex-wrap: wrap;

    button {
        @include buttonstyles;
        background-color: wheat;
    }
}

.major {
    flex-grow: 2;
}
.minor {
    flex-grow: 1;
}