main {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.section-heading {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin-bottom: 50px;

    h1, h2 {
        margin: 0;
        font-weight: 400;
        color: $colour-heading;
        font-size: 2.25rem;
    }
    h2 {
        font-weight: 600;
        font-size: 1.8rem;
        padding-top: 5px;

        &::after {
            content: " ➙";
        }
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }


    @media (max-width: $screen-small) {
        h2 {
            display: none;
        }
    }
}

