main {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.section-heading {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin-bottom: 50px;

    h1, h2 {
        margin: 0;
        font-weight: 400;
        color: $colour-heading;
        font-size: 2.25rem;
    }
    h2 {
        font-weight: 600;
        font-size: 1.8rem;
        padding-top: 5px;

        &::after {
            content: " ➙";
        }
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }


    @media (max-width: $screen-small) {
        h2 {
            display: none;
        }
    }
}

.content-welcome {
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    color: $white;
    background-color: $color-primary;

    button {
        @include buttonstyles($colour-primary-dark);
        border-radius: 5px;
        margin: 0;
        width: 100%;
        white-space: nowrap;
    }
    a {
        color: $white;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "section1 section2";
        gap: 30px;

        @media (max-width: $screen-medium) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas:
            "section1"
            "section2";
        }
    }

    .welcome-section1,
    .welcome-section2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h1 {
            margin-top: 0;
        }

        &-buttons {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
            margin-top: auto;
        }
    }
    .stars {
        display: flex;
        gap: 5px;
        font-size: 42px;
        color: $colour-gold-star;
    }


}