// Services
.content-services {
    ul {
        list-style: none;
        padding: 0;
    }
}
.content-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 30px;

    margin-top: 62px;

    @media (max-width: $screen-medium) {
        flex-direction: column;
    }
}

.content-item-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    

    height: 100%;
    padding: 20px;
    transition: all 0.4s ease-in-out;

    border: 1px solid $colour-border;
    border-radius: 15px;
    box-shadow: 0px 0px 50px lighten($color-button-grey, 30%);


    h3 {
        pointer-events: none;
        font-size: 21px;
        font-weight: 400;
        color: $colour-heading;
        margin-top: 14px;
    }
    p {
        pointer-events: none;
        margin-top: -8px;
        font-weight: 350;
        font-size: 13px;
        line-height: 22px;
    }

    .content-item__icon {
        margin-top: 10px;

        font-size: 32px;
        width: 64px;
        height: 64px;
        border-radius: 100%;
        padding-top: 16px;
        text-align: center;
    }


    // Color variations
    &#sof { 
        .content-item__icon{ color: $white; background-color: $colour-sof; } 
        button { @include buttonstyles(#f7b322); }
    }
    &#sup { 
        .content-item__icon{ color: $white; background-color: $colour-sup; } 
        button { @include buttonstyles($colour-sup); }
    }
    &#mar { 
        .content-item__icon{ color: $white; background-color: $colour-mar; } 
        button { @include buttonstyles($colour-mar); }
    }
    &#ser { 
        .content-item__icon{ color: $white; background-color: $colour-ser; } 
        button { @include buttonstyles($colour-ser); }
    }
    &#des { 
        .content-item__icon{ color: $white; background-color: $colour-des; } 
        button { @include buttonstyles($colour-des); }
    }
    &#sec { 
        .content-item__icon{ color: $white; background-color: $colour-sec; } 
        button { @include buttonstyles($colour-sec); }
    }
    &#dev { 
        .content-item__icon{ color: $white; background-color: $colour-dev; } 
        button { @include buttonstyles($colour-dev); }
    }

    &:hover {
        &#sof{ @include hoverColourChange($colour-sof); }
        &#sup{ @include hoverColourChange($colour-sup); }
        &#mar{ @include hoverColourChange($colour-mar); }
        &#ser{ @include hoverColourChange($colour-ser); }
        &#des{ @include hoverColourChange($colour-des); }
        &#sec{ @include hoverColourChange($colour-sec); }
        &#dev{ @include hoverColourChange($colour-dev); }    

        @media (min-width: $screen-medium) {
            transform: translateY(-10px);
        }
    }

    //Make the buttons look like the NM ones
    button {
        font-size: 18px !important;
        height: 47px !important;
        width: 130px !important;
        padding: 0 !important;
    }

}

.major, .minor {
    flex: 1 1 auto; // Allow items to grow/shrink
    
    // Remove min-width constraints
    @media (max-width: $screen-medium) {
        max-width: 100% !important;
    }
}
.major {
    max-width: 370px;

    @media (max-width: $screen-large) {
        max-width: 300px;
    }
    @media (max-width: $screen-medium) {
        min-width: 100%;
    }
}
.minor {
    max-width: 270px;

    @media (max-width: $screen-large) {
        max-width: 220px;
    }
    @media (max-width: $screen-medium) {
        min-width: 100%;
    }
}